<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <title>管理员登录</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="/static/css/login.css">
  <style>

  </style>
</head>

<body>
  <form action="">
    <h2>管理员登录</h2>
    <label><div class="input">昵称：</div><input name="name" type="text" placeholder="请输入管理员昵称"></label>
    <label><div class="input">密码：</div><input name="pwd" type="password" placeholder="请输入密码"></label>
    <label><div class="btn">登录</div></label>
  </form>
</body>

<script src="/extend/jquery-1.12.4.min.js"></script>
<script src="/static/js/public.js"></script>
<script src="/static/js/adminLogin.js"></script>

</html>