<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <title>首页</title>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="/static/css/u_index.css">
  <style>

  </style>
</head>

<body>
  <div class="nav_top">
    <!--顶部-->
    <ul>
      <li class="a_src" data-a_src="http://store.com/index/index/index">首页</li>
    </ul>
    <ul>
      <li class="a_src" data-a_src="http://store.com/index/index/login">登录/注册</li>
    </ul>
  </div>

  <nav>
    <!--导航-->
    <div class="logo"></div>

    <ul>
      <!--推荐类别-->

    </ul>

    <form action="">
      <!--搜索框-->
      <input type="text" placeholder="请用空格隔开关键词">
      <div><svg t="1561264850265" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
          p-id="2306" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32">
          <defs>
            <style type="text/css"></style>
          </defs>
          <path
            d="M944.5 968.5c-6.1 0-12.3-2.3-17-7L664.4 698.4c-9.4-9.4-9.4-24.6 0-33.9 9.4-9.4 24.6-9.4 33.9 0l263.2 263c9.4 9.4 9.4 24.6 0 33.9-4.7 4.8-10.9 7.1-17 7.1z"
            fill="#707070" p-id="2307"></path>
          <path
            d="M432.5 808.5c-50.7 0-100-9.9-146.4-29.6-44.8-18.9-85-46-119.5-80.6S105 623.6 86 578.8c-19.6-46.3-29.5-95.6-29.5-146.3 0-50.7 9.9-100 29.6-146.4 18.9-44.8 46-85 80.6-119.5S241.4 105 286.2 86c46.3-19.6 95.6-29.5 146.3-29.5 50.7 0 100 9.9 146.4 29.6 44.8 18.9 85 46 119.5 80.6S760 241.4 779 286.2c19.6 46.3 29.5 95.6 29.5 146.3 0 50.7-9.9 100-29.6 146.4-18.9 44.8-46 85-80.6 119.5S623.6 760 578.8 779c-46.3 19.6-95.6 29.5-146.3 29.5z m0-704c-180.9 0-328 147.1-328 328s147.1 328 328 328 328-147.1 328-328-147.1-328-328-328z"
            fill="#707070" p-id="2308"></path>
        </svg></div>
    </form>
  </nav>

  <div class="recom">
    <!--推荐商品列表-->
    <div class="child">

    </div>
  </div>

  <div class="lbt_par">
    <!--轮播区-->
    <div class="lbt">
      <!--轮播图-->
      <div class="lbFode a_src" data-a_src="http://store.com"></div>
      <div class="lbFode a_src" data-a_src="http://store.com"></div>
      <div class="lbFode a_src" data-a_src="http://store.com"></div>
      <div class="lbFode a_src" data-a_src="http://store.com"></div>
      <div class="lbFode a_src" data-a_src="http://store.com"></div>
      <div class="lb_radius">
        <!--小圆点-->

      </div>
    </div>

    <div class="aside">
      <ul>

      </ul>
    </div>

    <!--  二级分类，样例
      <div class="main">
      <figure>
        <img src="图片路径" alt="">
        <figcaption>
          商品名
        </figcaption>
        </figure>
      </div>
    -->

  </div>

  <div class="b_recom">
    <!--为你推荐-->

    <div class="recom_top">
      <h2>为你推荐</h2>
      <div class="contr">
        <div class="l"><svg t="1561364481918" class="icon" viewBox="0 0 1024 1024" version="1.1"
            xmlns="http://www.w3.org/2000/svg" p-id="2247" xmlns:xlink="http://www.w3.org/1999/xlink" width="32"
            height="32">
            <defs>
              <style type="text/css"></style>
            </defs>
            <path
              d="M343.04 536.32l386.133333-386.133333c13.226667-13.226667 13.226667-34.986667 0-48.213334-13.226667-13.226667-34.986667-13.226667-48.213333 0l-386.133333 386.133334c-13.226667 13.226667-13.226667 34.986667 0 48.213333 13.226667 13.226667 34.986667 13.226667 48.213333 0z"
              fill="#bfbfbf" p-id="2248"></path>
            <path
              d="M729.173333 874.24l-386.133333-386.133333c-13.226667-13.226667-34.986667-13.226667-48.213333 0-13.226667 13.226667-13.226667 34.986667 0 48.213333l386.133333 386.133333c13.226667 13.226667 34.986667 13.226667 48.213333 0 13.226667-13.653333 13.226667-34.986667 0-48.213333z"
              fill="#bfbfbf" p-id="2249"></path>
          </svg>
        </div>

        <div class="r"><svg t="1561364473301" class="icon" viewBox="0 0 1024 1024" version="1.1"
            xmlns="http://www.w3.org/2000/svg" p-id="2065" xmlns:xlink="http://www.w3.org/1999/xlink" width="32"
            height="32">
            <defs>
              <style type="text/css"></style>
            </defs>
            <path
              d="M680.96 536.32L294.826667 149.76C281.6 136.533333 281.6 115.2 294.826667 101.546667c13.226667-13.226667 34.986667-13.226667 48.213333 0l386.133333 386.133333c13.226667 13.226667 13.226667 34.986667 0 48.213333-13.226667 13.653333-34.986667 13.653333-48.213333 0.426667z"
              fill="#8a8a8a" p-id="2066"></path>
            <path
              d="M294.826667 874.24l386.133333-386.133333c13.226667-13.226667 34.986667-13.226667 48.213333 0 13.226667 13.226667 13.226667 34.986667 0 48.213333l-386.133333 386.133333c-13.226667 13.226667-34.986667 13.226667-48.213333 0-13.226667-13.653333-13.226667-34.986667 0-48.213333z"
              fill="#8a8a8a" p-id="2067"></path>
          </svg></div>
      </div>
    </div>

    <div class="recom_b">
      <!--<figure>
        <div class="outer">
          <img src="\static\iva\ys1.jpg" alt="">
        </div>
        <figcaption>
          <div class="name">Redmi Note 7 全网通 4GB+128GB</div>
          <div class="price">1499 元</div>
          <div class="good">143 人好评</div>
        </figcaption>
      </figure>-->
    </div>

  </div>

  <div class="hot">
    <!--热点商品-->
    <h2>热点产品</h2>
    <!--<figure>
      <img src="/static/iva/28_photo_1_.jpg" alt="">
      <figcaption>
        <div class="nr">比想象中还有质感，体验了一下，非常非常满意，支持小米，越来越棒了！！！</div>
        <div class="hot_user">来自于 我的六个木 的评价</div>
        <div class="hot_name"><div class="name">米家走步机</div> | <div class="price">1799元</div></div>
      </figcaption>
    </figure>-->
  </div>

  <!--<div class="sp_class">一个商品类

    <div class="top">顶部
      <h2>手机</h2>
      <ul>二级分类
        <li>123</li>
        <li>123</li>
        <li>123</li>
        <li>123</li>
      </ul>
    </div>

    <div class="aside">推荐商品，不动
      <img src="/static/iva/28_photo_1_.jpg" alt="">
      <img src="/static/iva/28_photo_1_.jpg" alt="">
    </div>

    <div class="main">子类商品区
      <figure>
        <img src="/static/iva/28_photo_1_.jpg" alt="">
        <figcaption>
          <div class="name">1121223</div>
          <div class="price">123123</div>
        </figcaption>
      </figure>
      <div class="llgd"><浏览更多按钮
        <div class="name">浏览更多</div>
        <div class="svg"><svg t="1561268366035" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2065" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32"><defs><style type="text/css"></style></defs><path d="M514 912c-219.9 0-398.8-178.9-398.8-398.9 0-219.9 178.9-398.8 398.8-398.8s398.8 178.9 398.8 398.8c0 220-178.9 398.9-398.8 398.9z m0-701.5c-166.9 0-302.7 135.8-302.7 302.7S347.1 815.9 514 815.9s302.7-135.8 302.7-302.7S680.9 210.5 514 210.5z" fill="#8a8a8a" p-id="2066"></path><path d="M746.1 471.6L582 307.5c-22.9-22.9-60.2-22.9-83.1 0-22.9 22.9-22.9 60.2 0 83.1l63.8 63.8H334c-32.5 0-58.8 26.3-58.8 58.8S301.5 572 334 572h228.7l-63.8 63.8c-11.5 11.5-17.2 26.5-17.2 41.5s5.7 30.1 17.2 41.5c22.9 22.9 60.2 22.9 83.1 0l164.1-164.1c22.9-22.9 22.9-60.1 0-83.1z" fill="#8a8a8a" p-id="2067"></path></svg></div>
      </div>
    </div>
    
  </div>-->

  <!--搜索结果
  <div class="result">

    <figure>
      <div class="outer">
        <img src="/static/iva/138_sphoto_1_.jpg">
      </div>
      <figcaption>
        <div class="sp_name">2019夏新款女士t恤原创条纹女装短袖T恤女韩版泫雅风上衣</div>
        <div class="price">￥ 59</div>
        <div class="style">
          <img src="/static/iva/138_sphoto_1_.jpg">
          <img src="/static/iva/138_sphoto_4_.jpg">
        </div>
      </figcaption>
    </figure>

  </div>
  -->

  <div class="bottom">

    <div class="b_top">
      <ul>
        <li>预约维修服务</li>
        <li>7 天无理由退货</li>
        <li>15 天免费换货</li>
        <li>满 150 元包邮</li>
        <li>520 余家售后网点</li>
      </ul>
    </div>

    <div class="b_bottom">
      <div class="b_child">
        <h3>帮助中心</h3>
        <ul>
          <li>账户管理</li>
          <li>购物指南</li>
          <li>订单操作</li>
        </ul>
      </div>
      <div class="b_child">
        <h3>服务支持</h3>
        <ul>
          <li>售后政策</li>
          <li>自助服务</li>
          <li>相关下载</li>
        </ul>
      </div>
      <div class="b_child">
        <h3>线下门店</h3>
        <ul>
          <li>xx 之家</li>
          <li>服务网点</li>
          <li>授权体验店</li>
        </ul>
      </div>
      <div class="b_child">
        <h3>关于小米</h3>
        <ul>
          <li>了解 xx</li>
          <li>加入 xx</li>
          <li>投资者关系</li>
        </ul>
      </div>
      <div class="b_child">
        <h3>关注我们</h3>
        <ul>
          <li>新浪微博</li>
          <li>官方微信</li>
          <li>联系我们</li>
        </ul>
      </div>
      <div class="b_child">
        <h3>特色服务</h3>
        <ul>
          <li>F 码通道</li>
          <li>礼物码</li>
          <li>防伪查询</li>
        </ul>
      </div>
    </div>

    <div class="kf">
      <!--客服-->
      <div class="phone">666-666-6667</div>
      <div class="fuzhu">
        周一至周日 8:00-18:00
        （仅收市话费）
      </div>
      <div class="lxkf">联系客服</div>
    </div>

    <div class="b_friend">
      <div class="logo"></div>
      <div class="ms">
        本开源项目仅供学习交流使用，请勿做商业用途，传播请注明原作者，git 仓库：<a href=""></a>
      </div>
    </div>

  </div>

</body>

<script src="/extend/jquery-1.12.4.min.js"></script>
<script src="/static/js/public.js"></script>
<!--公共函数-->
<script src="/static/js/u_public.js"></script>
<!--前台公共-->
<script src="/static/js/u_index.js"></script>
<!--首页-->

</html>