@charset "utf-8";
@import '_public';
@import '_u_public';

.login{
  @include wh(100% - 2 * $lrmargin, 340px);

  margin:0px $lrmargin;

  form{
    $h:50px;

    @include wh(100%, 240px);

    margin-top:100px;

    label{
      @include wh(100%, $h);

      display:flex;
      justify-content:center;
      margin:32px 0px;
      flex-wrap:wrap;

      input{
        @include wh(70%, $h);

        font-size:$fsizel;
        color:$fcolor;
        padding-left:10px;
        border:solid 1px rgba(100,100,100,0.3);
      }

      .btn{
        @include wh(72%, $h);
        @include cen($h);

        font-size:$fsizel;
        color:white;
        background:$fcolor_price;
        transition:all 0.4s;
        cursor:pointer;

        &:hover{
          font-size:$fsizel + 2;
        }
      }

      .forget{
        @include wh(70%, $h);
        @include cen($h);

        font-size:$fsizes;
        color:$fcolor;
        cursor:pointer;

        &:hover{
          color:$fcolor_price;
        }
      }
    }
  }
}


































